/* dev css */
#five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#five h1 {
  /* position: absolute;
  z-index: 0;
  top: 0;
  right: 0; */
  font-size: 7rem;
  font-weight: 900;
  color: rgba(1, 63, 89, 0.76);
  font-family: 'Poppins', sans-serif;
  -webkit-transform: rotate(0deg) translateY(10px) translateX(-25px);
  -moz-transform: rotate(0deg) translateY(10px) translateX(-25px);
  -o-transform: rotate(0deg) translateY(10px) translateX(-25px);
}

.swiper-container {
  width: 100%;
  height: 70vh;
  padding: 50px;
}

.swiper-slide {
  background-color: none;
  background-position: center;
  /* background-size: cover; */
  width: 50%;
  height: 510px;
  padding: 60px;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  margin-top: 30px;
}

@media screen and (min-width:769px) {
  .swiper-container {
    display: none;
  }
}

.dev-container {
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

@media screen and (max-width:768px) {
  .dev-container {
    display: none;
  }

  #five {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  #five h1 {
    font-size: 2rem;
    position: relative;
    transform: none;
  }

  #logo:hover {
    fill: #013F59;
  }
}

.dev-card {
  position: relative;
  width: 200px;
  height: 300px;
  border: 4px solid #355c7d;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
  background-size: 1000% 1000%;
  -webkit-animation: gradient-anim 5s ease infinite;
  -moz-animation: gradient-anim 5s ease infinite;
  -o-animation: gradient-anim 5s ease infinite;
  animation: gradient-anim 5s ease infinite;
}

.dev-card:hover {
  border: solid 4px #013F59;
  border-radius: 25px;
  background: linear-gradient(90deg, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
  background-clip: content-box, border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 30%;
  object-fit: cover;
  z-index: 2;
}

.card-bottom {
  position: relative;
  width: 208px;
  height: 250px;
  -webkit-clip-path: polygon(0% 100%, 0% 13%, 100% 0%, 100% 100%);
  -O-clip-path: polygon(0% 100%, 0% 13%, 100% 0%, 100% 100%);
  -moz-clip-path: polygon(0% 100%, 0% 13%, 100% 0%, 100% 100%);
  clip-path: polygon(0% 100%, 0% 13%, 100% 0%, 100% 100%);
  transform: translateY(42px);
  -webkit-transform: ;
  -moz-transform: ;
  -o-transform: ;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: aliceblue;
  justify-self: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dev-name {
  color: #013F59;
  width: 100%;
  text-align: left;
  align-self: flex-start;
  margin: 30% auto 0;
  padding-left: 3%;
}

.dev-title {
  color: #013F59;
  width: 100%;
  text-align: left;
  align-self: flex-start;
  margin: 5% auto 0;
  padding-left: 3%;
  font-size: 0.8rem;
}

.dev-media {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
  padding: 0 20px;
}

.dev-media a {
  text-decoration: none;
  width: 100%;
  margin: 10% 3% auto 3%;
  cursor: pointer;
}

.social {
  max-width: 30px;
  height: 30px;
  fill: #013F59;
  display: inline-flex;
  white-space: nowrap;
}

#logo {
  fill: #013F59;
}

#logo:hover {
  fill: url(#paint0_linear);
}

.dev-btn {
  width: 100%;
  height: 30%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dev-btn button {
  width: 100px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3%;
  color: #E7EAEE;
  background-color: #013F59;
  border-radius: 4px;
  cursor: pointer;
}

.dev-btn button:hover {
  background: linear-gradient(45deg, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
  /* border:4px solid #013F59; */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5)
}

@-webkit-keyframes gradient-anim {
  0% {
    background-position: 0% 52%
  }

  50% {
    background-position: 100% 49%
  }

  100% {
    background-position: 0% 52%
  }
}

@-moz-keyframes gradient-anim {
  0% {
    background-position: 0% 52%
  }

  50% {
    background-position: 100% 49%
  }

  100% {
    background-position: 0% 52%
  }
}

@-o-keyframes gradient-anim {
  0% {
    background-position: 0% 52%
  }

  50% {
    background-position: 100% 49%
  }

  100% {
    background-position: 0% 52%
  }
}

@keyframes gradient-anim {
  0% {
    background-position: 0% 52%
  }

  50% {
    background-position: 100% 49%
  }

  100% {
    background-position: 0% 52%
  }
}

/* footer css */
footer {

  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #013F59;
}

.footerup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footerdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoleft span {
  font-size: 0.8rem;
  color: #E7EAEE;
  font-weight: bold;
}

.flogo {
  width: 50px;
  border: 4px solid #E7EAEE;
  padding: 10px;
  margin: 10px;
}

.finfo {
  width: 25%;
  color: #E7EAEE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  text-align: left;
}

.finfo h3 {
  font-size: 1rem;
}

.finfo h3:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0;
  /* This will center the border. */
  width: 30%;
  /* Change this to whatever width you want. */
  padding-top: 2px;
  /* This creates some space between the element and the border. */
  border-bottom: 3px solid #FFC906;
}

.reach-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.reach-us p {
  font-size: 0.5rem;
  padding: 5px;
}

.reach-us img {
  vertical-align: text-bottom;
}

.quicklinks {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quicklinks li {
  text-decoration: none;
  color: #E7EAEE;
  font-size: 0.7rem;
  list-style: none;
  text-align: left;
}

.quicklinks h3 {
  font-size: 1rem;
  margin-bottom: 2px;
}

.quicklinks h3:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0;
  /* This will center the border. */
  width: 100%;
  /* Change this to whatever width you want. */
  padding-top: 2px;
  /* This creates some space between the element and the border. */
  border-bottom: 3px solid #F75469;
}

.footerdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #E7EAEE;
  font-size: 0.7rem;
}

@media screen and (max-width:768px) {
  .logoleft {
    display: none;
  }

  .finfo {
    width: 60%;
    padding-left: 5%;
  }

  .finfo h3 {
    font-size: 1rem;
  }

  .finfo p {
    font-size: 0.7rem;
  }

  .quicklinks {
    width: 40%;
  }

  .quicklinks h3 {
    font-size: 1rem;
  }

  .quicklinks li {
    font-size: 0.7rem;
  }
}

/* product */
/* General Reset */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Layout */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #585fef;
  color: white;
}

header input {
  padding: 0.5rem;
  width: 50%;
  border: none;
  border-radius: 5px;
}

main {
  display: flex;
  margin: 1rem;
}

.filter {
  width: 20%;
  padding: 1rem;
  background-color: #ecf0f1;
}

.product-list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.product {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.product img {
  max-width: 100%;
}

.add-to-cart {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #2c3e50;
  color: white;
  margin-top: 1rem;
}

/* admin login */
/* button styles-animation */
.left-bottom {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 10%;
}

.left-bottom button {
  width: 200px;
  height: 60px;
  margin-bottom: 5%;
  /* -webkit-border-radius: 73px;
    -moz-border-radius: 73px;
    border-radius: 73px; */
  text-decoration: none;
  cursor: pointer;
  color: #E7EAEE;
  border-color: #013F59;
  border-width: 3px;
  font-size: 1.5rem;
}

.left-bottom button:hover {
  animation: none;
  background: #E7EAEE;
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
  border-image-slice: 1;
  color: #013F59;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.left-bottom button {
  background: linear-gradient(273deg, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
  background-size: 1000% 1000%;
  -webkit-animation: gradient-anim 11s ease infinite;
  -moz-animation: gradient-anim 11s ease infinite;
  -o-animation: gradient-anim 11s ease infinite;
  animation: gradient-anim 11s ease infinite;
}

.logobox {
  height: 8vh;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.logo {
  fill: #013F59;
  height: 200px;

}

@media screen and (max-width:768px) {
  .logo {
    fill: #E7EAEE;
  }
}

h1 {
  font-size: 100px;
  padding-top: 104px;
}